<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get in touch</h2>
                    <h3 class="section-subheading text-muted">Understand how we can help</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="font-size: 3em;">
                    <a href="mailto:contact@govchain.eu">contact@govchain.eu</a>
                </div>
            </div>
        </div>
    </section>
