<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <h3 class="section-subheading text-muted">We offer development and consulting for decentralized E-Government Solutions.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-universal-access fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Access</h4>
                    <p class="text-muted">Our blockchain-based E-Government Solutions enable new levels of access to public services.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Participation</h4>
                    <p class="text-muted">Accessibility and accountability unlock new forms of engagement and participation by citizens.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transparency</h4>
                    <p class="text-muted">Blockchain means transparency by design, a radical departure from today's closed systems.</p>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 5em;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-id-badge fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Identity</h4>
                    <p class="text-muted">We offer digital, self-sovereign identity solutions to empower citizens and governments alike.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voting</h4>
                    <p class="text-muted">Electronic voting is finally possible with our secure and transparent distributed ledger technology.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ledgers</h4>
                    <p class="text-muted">Transactions such as land title transfers are cheap and fast with our scalable blockchain solution.</p>
                </div>
            </div>
        </div>
    </section>